#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 1.4em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#msg-box4-7 .mbr-section-title {
  font-size: 60px;
  color: #231c1c;
}
#msg-box4-7 .lead P {
  color: #231c1c;
  font-size: 30px;
}
#contacts3-a STRONG {
  color: #000000;
}
#contacts3-a P {
  color: #000000;
}
#dropdown-menu-2btn-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-k .nav .link,
#dropdown-menu-2btn-k .dropdown-item {
  font-size: 1.4em;
  color: #000000;
}
#dropdown-menu-2btn-k .navbar,
#dropdown-menu-2btn-k .dropdown-menu {
  background: #40e0d0;
}
#dropdown-menu-2btn-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-k .dropdown-menu a:hover,
#dropdown-menu-2btn-k .dropdown-menu a:focus {
  background: #2eddcc;
}
#dropdown-menu-2btn-k .navbar-toggler {
  color: #000000;
}
#contacts3-l STRONG {
  color: #000000;
}
#contacts3-l P {
  color: #000000;
}
#dropdown-menu-2btn-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-m .nav .link,
#dropdown-menu-2btn-m .dropdown-item {
  font-size: 1.4em;
  color: #000000;
}
#dropdown-menu-2btn-m .navbar,
#dropdown-menu-2btn-m .dropdown-menu {
  background: #40e0d0;
}
#dropdown-menu-2btn-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-m .dropdown-menu a:hover,
#dropdown-menu-2btn-m .dropdown-menu a:focus {
  background: #2eddcc;
}
#dropdown-menu-2btn-m .navbar-toggler {
  color: #000000;
}
#contacts3-n STRONG {
  color: #000000;
}
#contacts3-n P {
  color: #000000;
}
#dropdown-menu-2btn-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-b .nav .link,
#dropdown-menu-2btn-b .dropdown-item {
  font-size: 1.4em;
  color: #000000;
}
#dropdown-menu-2btn-b .navbar,
#dropdown-menu-2btn-b .dropdown-menu {
  background: #40e0d0;
}
#dropdown-menu-2btn-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-b .dropdown-menu a:hover,
#dropdown-menu-2btn-b .dropdown-menu a:focus {
  background: #2eddcc;
}
#dropdown-menu-2btn-b .navbar-toggler {
  color: #000000;
}
#contacts3-a STRONG {
  color: #000000;
}
#contacts3-a P {
  color: #000000;
}
